<!DOCTYPE html>
<html lang="en">

<head>
    <title>一体化平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="static/css/mobile-common.css" />
    <link rel="stylesheet" type="text/css" href="static/css/jquery.mobile.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/dynamicPic.css" />
    <link rel="stylesheet" type="text/css" href="static/css/zjmanagement.css" />
    <link rel="stylesheet" type="text/css" href="static/css/css_app_v2/fonts_v2.0.0.css">
    <link rel="stylesheet" type="text/css" href="static/css/css_app_v2/page_v2.0.0.css">
    <link rel="stylesheet" type="text/css" href="static/css/css_app_v2/reset_v2.0.0.css">
    <link rel="stylesheet" type="text/css" href="static/css/left_right_slide.css" />
    <link rel="stylesheet" href="static/css/newStyle20180327.css">
    <script type="text/javascript" src="static/js/transformpcm.worker.js"></script>
    <script type="text/javascript" src="static/js/hmac-sha256.js"></script>
    <script type="text/javascript" src="static/js/enc-base64-min.js"></script>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.qrcode.min.js"></script>
    <!-- <script type="text/javascript" src="static/js/jquery.mobile.min.js"></script> -->
    <script type="text/javascript" src="static/js/jquery.vticker-min.js"></script>
    <script type="text/javascript" src="static/js/mobile-common.js"></script>
    <script type="text/javascript" src="static/js/dynamicPic.js"></script>
    <script type="text/javascript" src="static/js/moment.js"></script>
    <script type="text/javascript" src="https://api.tianditu.gov.cn/api?v=4.0&tk=5ac01dd523ba3d2589b0bff5cb9c4e79"></script>
    <script type="text/javascript" src="static/js/map2.js"></script>
    <script type="text/javascript" src="static/js/echarts.js"></script>
    <script type="text/javascript" src="static/js/AppGlobal.js"></script>
    <script type="text/javascript" src="static/js/zjmanagement.js"></script>
    <script type="text/javascript" src="static/js/overal_js.js"></script>
    <script type="text/javascript" src="static/js/overal_two.js"></script>
    <script type="text/javascript" src="static/js/help_facility.js"></script>
    <script type="text/javascript" src="static/js/pop_up_box.js"></script>
    <script type="text/javascript" src="static/js/zjmanagementMap.js"></script>
    <script type="text/javascript" src="static/js/idangerous.swiper.min.js"></script>
    <script type="text/javascript" src="static/js/date/mobiscroll.core-2.5.2.js"></script>
    <script type="text/javascript" src="static/js/date/mobiscroll.core-2.5.2-zh.js"></script>
    <script type="text/javascript" src="static/js/date/mobiscroll.datetime-2.5.1.js"></script>
    <script type="text/javascript" src="static/js/date/mobiscroll.datetime-2.5.1-zh.js"></script>
    <link rel="stylesheet" type="text/css" href="static/js/date/mobiscroll.android-ics-2.5.2.css" />
    <link rel="stylesheet" type="text/css" href="static/js/date/mobiscroll.core-2.5.2.css" />
    <script type="text/javascript" src="static/js/date/mobiscroll.android-ics-2.5.2.js"></script>

    <script src="static/js/jquery.md5.js"></script>
    <script type="text/javascript" src="static/js/file.js"></script>
    <script type="text/javascript" src="static/js/hammer.js"></script>

    <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=tKRtxzrOtV70zBS4wZVLUqq5BkgEEaGY"></script>
    
    
    

</head>

<body>
    <% if(process.env.VUE_ENV=='spa'){ %>
        <div id="app"></div>
        <% } %>
            <!--vue-ssr-outlet-->
</body>

</html>
