// font-size vars
$fontsize-large-xxxx = 30px
$fontsize-large-xxx = 24px
$fontsize-large-xx = 20px
$fontsize-large-x = 18px
$fontsize-large = 16px
$fontsize-medium = 14px
$fontsize-small = 12px
$fontsize-small-s = 10px

// radius-size
$radius-size-medium = 5px


// 一体化平台 组件规范
$common-height = 94px // 组件标准高度
$main-color = #4582FD // 主题色（蓝）
$main-color-dark = #3768CA // 加深20%的主题色（蓝）
$dialog-content-font = 15px
$dialog-btn-font = 18px
$dialog-content-color = rgb(136, 136, 136)
$dialog-negative-color = #000000
